.dark {
    --bgColor: black;
    --color:white;
}

.light {
    --bgColor: yellow;
    --color:black;
}

.home-section{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor);
    h1{
        color: var(--color);
    }
}